<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>编辑拟入库任务</title>
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
</head>

<body>
    <form class="layui-form" action="">
        <div class="mainBox">
            <div class="main-container">
                <input type="hidden" name="id" value="{{ inbound.id }}">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属项目</label>
                    <div class="layui-input-block">
                        <select name="project_id" lay-verify="required" lay-search>
                            <option value="">请选择项目</option>
                            {% for project in projects %}
                            <option value="{{ project.id }}" {% if project.id==inbound.project_id %}selected{% endif %}>
                                {{ project.project_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">批次号</label>
                    <div class="layui-input-block">
                        <input type="text" name="batch_number" value="{{ inbound.batch_number or '' }}"
                            placeholder="请输入批次号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">分号</label>
                    <div class="layui-input-block">
                        <input type="text" name="batch_sub_number" value="{{ inbound.batch_sub_number or '' }}"
                            placeholder="请输入分号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">材料名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="material_name" value="{{ inbound.material_name }}"
                            lay-verify="required" placeholder="请输入材料名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">规格型号</label>
                    <div class="layui-input-block">
                        <input type="text" name="material_spec" value="{{ inbound.material_spec or '' }}"
                            placeholder="请输入规格型号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">拟定供应商</label>
                    <div class="layui-input-block">
                        <select name="supplier_id" lay-search>
                            <option value="">请选择供应商</option>
                            {% for supplier in suppliers %}
                            <option value="{{ supplier.id }}" {% if supplier.id==inbound.supplier_id %}selected{% endif
                                %}>{{ supplier.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">入库量</label>
                    <div class="layui-input-block">
                        <input type="number" name="inbound_quantity" value="{{ inbound.inbound_quantity }}"
                            lay-verify="required" placeholder="请输入数量" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">入库单价</label>
                    <div class="layui-input-block">
                        <input type="number" name="inbound_price" value="{{ inbound.inbound_price }}"
                            placeholder="请输入单价" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="inbound-update">
                    <i class="layui-icon layui-icon-ok"></i>
                    保存
                </button>
                <button type="reset" class="pear-btn pear-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </div>
    </form>
    <script src="/static/component/layui/layui.js"></script>
    <script src="/static/component/pear/pear.js"></script>
    <script>
        layui.use(['form', 'jquery'], function () {
            let form = layui.form;
            let $ = layui.jquery;
            let MODULE_PATH = "/api/v1/material/";

            form.on('submit(inbound-update)', function (data) {
                if (data.field.inbound_price && data.field.inbound_quantity) {
                    data.field.inbound_total_amount = (parseFloat(data.field.inbound_price) * parseFloat(data.field.inbound_quantity)).toFixed(2);
                }

                $.ajax({
                    url: MODULE_PATH + 'inbound/' + data.field.id,
                    data: JSON.stringify(data.field),
                    dataType: 'json',
                    contentType: 'application/json',
                    type: 'put',
                    success: function (result) {
                        if (result.code === 0) {
                            layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                                parent.layui.table.reload("inbound-table");
                            });
                        } else {
                            layer.msg(result.msg, { icon: 2, time: 1000 });
                        }}})
                return false;
            });
        })
    </script>
</body>

</html>