<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>新增策划</title>
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
</head>

<body>
    <form class="layui-form" action="">
        <div class="mainBox">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属项目</label>
                    <div class="layui-input-block">
                        <select name="project_id" lay-verify="required" lay-search>
                            <option value="">请选择项目</option>
                            {% for project in projects %}
                            <option value="{{ project.id }}">{{ project.project_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">材料名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="material_name" lay-verify="required" placeholder="请输入材料名称"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">规格型号</label>
                    <div class="layui-input-block">
                        <input type="text" name="material_spec" placeholder="请输入规格型号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单位</label>
                    <div class="layui-input-block">
                        <input type="text" name="material_unit" placeholder="例如：吨、个、米" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">策划总数</label>
                    <div class="layui-input-block">
                        <input type="number" name="planned_total_quantity" lay-verify="required" placeholder="请输入数量"
                            class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="planning-save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="pear-btn pear-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </div>
    </form>
    <script src="/static/component/layui/layui.js"></script>
    <script src="/static/component/pear/pear.js"></script>
    <script>
        layui.use(['form', 'jquery'], function () {
            let form = layui.form;
            let $ = layui.jquery;
            let MODULE_PATH = "/api/v1/material/";

            form.on('submit(planning-save)', function (data) {
                // Set remaining quantity same as total initially
                data.field.planned_remaining_quantity = data.field.planned_total_quantity;

                $.ajax({
                    url: MODULE_PATH + 'planning',
                    data: JSON.stringify(data.field),
                    dataType: 'json',
                    contentType: 'application/json',
                    type: 'post',
                    success: function (result) {
                        if (result.code === 0) {
                            layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                                parent.layui.table.reload("planning-table");
                            });
                        } else {
                            layer.msg(result.msg, { icon: 2, time: 1000 });
                        }}})
                return false;
            });
        })
    </script>
</body>

</html>